.container {
    width: 70%;
    height: 700px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ee98a2;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.div_column {
    width: 40%;
    height: 600px;
    margin: auto;
    background-color: darkseagreen;
}